
[Unit]
Description=bss python logger
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /tmp/bss_logger.py

[Install]
WantedBy=multi-user.target
